.product{}
.product img{
    width: 250px;
    height: 250px;
}
.product-name h2{}
.product-price strong{}
.add-button{
    background: #000;
    border: none;
    width: 50%;
    border-radius: 25px;
    color: #fff;
    padding: 15px 0;
}